
h4 {
    background-color:greenyellow;
    color: blue;
    text-align: center;
}

h3 {
    background-color: rgb(5, 253, 199);
    color:rgb(39, 6, 6);
    text-align: center;
}
.cont {
    background-color: blue;
    text-align: center;
}
