* {
    margin: 0mm;
    box-sizing: border-box;

}

body {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: aqua;
    width: 30vw;
    height: 4rem;
    padding: 10px;
    border: 5px dotted red;
}

.after {
    background-color: rgb(115, 255, 0);
    width: 30vw;
    height: 4rem;
    padding: 10px;
    border: 5px double blue;
}

.footer {
    background-color: rgb(129, 28, 160);
    width: 30vw;
    height: 4rem;
}