body {
    background: linear-gradient(45deg, #bb4141, #737ef7);
}

li{
    list-style-type: none;
    display: block;
}

.body{
    position: absolute;
    top: 0;
    bottom: 0px;
    right: 0px;
    left: 900px;
    display: grid;
    place-items: right;
    margin-top: 3%;
    margin-bottom: 10%;
}

#card{
    width: 400px;
    height: 550px;
    background-color: rgba(103, 160, 197, 0.8);
    border-radius: 30px solid #e0e0de;
    text-align: center;
    padding: 5%;
}

#toDoAdd{
    border: 1px solid #5c5b5a;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    font-size: 25px;
    background-color: aliceblue;
    padding: auto;
}

.inputs{
    display: flex;
    justify-content: center;
    width: 100%;
}

.goals{
    display: flex;
    justify-content: center;
    width: 100%;
}

#addGoal{
    border: 1px solid #5c5b5a;
    border-radius: 4px;
    font-size: 18px;
    padding: auto;
    background-color: aliceblue;

}


