* {
    margin: 0;
}

.header {
    width: 100vw;
    height: auto;
    background-color: black;
    color: aliceblue;
    display: flex ;
    justify-content: end;
}

.id {
    position: absolute;
    left: 0;
    margin: 2;
}

h1{
    margin: 20px;
}

.prvi{
    margin: auto;
    width: 90vw;
    height: 13rem;
    background-color: brown;
    display: flex;
    justify-content: start;
}

