div {
    
    background-color: rgb(255, 231, 13);
    width: 400px;
    height: 600px;
    border: dotted 2px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 30px auto ;
}
h2 {
    margin: 30px auto;
    padding: 5px 20px;
}

h3:hover {
    background-color: rgb(150, 76, 20);
}

h3 {
    padding: 12px;
}

p {
    padding: 1px;
    margin: 20px;
}

h3:hover {
    background-color: rgb(209, 97, 10);
}

p:hover {
    background-color: rgb(150, 76, 20);
}

div img {
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
}

body {
    background-color: rgb(248, 159, 126);
}


